body {
    background-image: url(../images/VUGL6Y7JERDKLDW2NASPX7T32Y.jpg)}

h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 10px;
}

p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:10px;
    margin:10px;
}